---
layout: menu-page
read_time: false
show_date: true
title: About Fotoradio
date: 2019-01-01 01:00:00 -0600
description: un podcast che parla di fotografie
img: https://alet313.s3.eu-west-3.amazonaws.com/fotoradio/2019/gideon_0b.avif
author: alessandro
permalink: about:output_ext
toc: yes # leave empty or erase for no TOC
---

      <h1>About Fotoradio</h1>

      <p>
      <i>english language visitors, please jump to the <a href="#english-language-visitor">bottom of the page</a></i></p>

      <p>
      <b>Fotoradio, Un podcast che parla di fotografie</b> è, appunto, un podcast che non parla di <i>fotografiA</i> (cioè macchine fotografiche, obiettivi, tecniche, foto ritocco...) ma piuttosto di <i>fotografiE</i> (ovvero di cosa ci dicono le fotografie, delle emozioni che fanno uscire, dei pensieri che stimolano...).</p>

      <p>
      Puoi ascoltare Fotoradio su:<br>
      <ul>
          <li><a href="https://links.fotoradio.info/spotify">Spotify</a>
          <li><a href="https://links.fotoradio.info/apple">Apple Podcast</a>
          <li><a href="https://links.fotoradio.info/google">Google Podcast</a>
          <li><a href="https://links.fotoradio.info/spreaker">Spreaker</a>
      </ul>
      ma anche su:<br>
      su <a href="https://castbox.fm/channel/Fotoradio-un-podcast-sulle-fotografie-id2203635?country=it">Castbox</a>; <a href="https://www.deezer.com/it/show/419562">Deezer</a>; <a href="https://overcast.fm/itunes1473090985">Overcast</a> e altre piattaforme di pubblicazione di podcast che è ascoltabile anche direttamente sulle pagine del <a href="https://fotoradio.info">blog</a>.
      </p>

      <p>
      Visto che non sempre è semplice parlare di fotografie senza vederle, su questo sito si riportano i link agli episodi del podcast e si mostrano le fotografie oggetto della puntata, oltre che i link ai siti degli autori, alla bibliografia, alle citazioni e altro.<br>
      <b>Fotoradio è un progetto sperimentale</b>. E' tutto da capire come verrà e se sarà di interesse per qualcuno. Intanto mi son divertito con la stagione zero poi sono arrivate le fotonews e ora si sta lavorando alla stagione dedicata all'antropocene... vedremo...</p>

      <hr>

      <h2>Le premesse necessarie</h2>

      <p>
      Mi pare abbia ragione Concita De Gregorio quando scrisse nel suo <a href="https://invececoncita.blogautore.repubblica.it/articoli/2022/02/11/lo-puoi-vedere-anche-tu/">blog su Repubblica</a> che <i>"in altri tempi, uno diceva una cosa e stop"</i>. Adesso però <i>"il coro degli 'scusati!' e 'vergognati' si attiva per sfioramento"</i> ed ecco che bisogna premettere un sacco di cose, scuse preventive, per ridurre la conflittualità per cercare di (ri)portare la discussione sul merito.<br>
      Ma così facendo, si perde un sacco di tempo e si perifrasa a manetta per giustificare questo e quello e non si arriva al punto.<br>
      Quindi, d'ora in avanti (dalla prossima serie intendo), podcast, blog e newsletter andranno diritti al contenuto e in questa pagina ci saranno tutte le <i>premesse necessarie</i> del caso per chi è interessato.</p>

      <h3>chi sono?</h3>

      <p>
      Non sono un fotografo, né un critico fotografico. Non sono neanche un semiologo, né un sociologo. Eppure faccio un podcast e un blog che parla di fotografie, di semiologia, di effetti sociali dei media dove cerco di riportare quello che vedo nelle fotografie e estrarne le storie per come le so ricostruire e raccontare.</p>

      <h3>una scrittura (il più possibile) gender neutral</h3>

      <p>
      Voglio provarci. Non che questo significhi nulla, soprattutto su questo piccolo blog. Ma credo sia importante provarci per diffondere l'idea di una neutralizzazione della lingua dal punto di vista del genere. Soprattutto quando non ci sono specificità di genere in ballo.<br>
      L'Accademia della Crusca non mi pare molto d'accordo e ha pubblicato un lungo <a href="https://accademiadellacrusca.it/it/consulenza/un-asterisco-sul-genere/4018">articolo</a> sul punto.<br>
      Come fare quindi?<br>
      In molti podcast e video si è iniziato a non utilizzare il maschile plurale come inclusivo del genere maschile e femminile e si declina sia in forma maschile che femminile: "buongiorno a tutti e a tutte".
      A me non piace molto perché mi dà l'idea che esistano due diverse tipologie di persone: uomini e donne. E poi si allunga tutto terribilmente. Però mi pare la soluzione più convincente.<br>
      Mi piacerebbe di più lo schwa (Ə) ma non so come scriverla sulla tastiera e mi fa ancora specie la pronuncia.<br>
      Per lo scritto si potrebbe andare sull'asterisco (\*) mutuandolo dall'informatica per dire che quello che segue dopo la radice, non conta. Scrivere "car\* amic\*" infatti esprime un saluto globale e indifferenziato. Mi piace perché unisce e rende la specifica di genere inutile ma vale solo nello scritto e poi non è bellissimo.<br>
      Quindi allungherò un po' cercando di declinare, quante più volte possibile, sia al maschile che al femminile.
      </p>

      <h3>perché gli aggiornamenti sono così incostanti?</h3>

      <p>
      Mi piace molto guardare foto, girare per mostre, scrivere per il blog e la newsletter, registrare il podcast, montare le musiche... però purtroppo devo anche fare altro. Infatti lavoro tra Lucca e Milano, ho cercato e trovato una nuova casa dove ho traslocato, ho giocato a Cyberpunk e Elder Ring (ecc... ecc...), ho visto film, sto provando a costruire un giardino digitale... e poi la pandemia...<br>
      Insomma prendo Fotoradio come un grande interesse che mi dà molte soddisfazioni ma non riesco ad essere costante. Più <a href="#roadmap">avanti in questa pagina</a> c'è una roadmap per i curiosi.</p>

      <hr>

      <h2>Blog ad impatto ambientale minimo</h2>

      <h3>un sito statico</h3>

      <p>
      Anche <a href="https://www.ilsole24ore.com/art/uno-paesi-piu-inquinanti-mondo-e-internet-ADOjXD5?refresh_ce=1">internet emette co2</a> e i siti dinamici (elaborando continuamente le informazioni), inquinano!<br>
      Fotoradio.info è perciò un sito statico, ovvero con tutte le pagine già renderizzate, con risparmio di energia di elaborazione lato server e banda.<br>
      L'idea è venuta ascoltando un vecchio podcast di <a href="https://www.spreaker.com/show/il-mordente"><b>Riccardo Palombo</b></a> che parlava di un sito "low-fi" <a href="https://solar.lowtechmagazine.com/2018/09/how-to-build-a-lowtech-website/">How to build a low-tech website</a>.<br>
      Ci ho provo anche io.
      </p>

      <h3>strumenti</h3>

      <p>
      Il sito è realizzato da me utilizzando strumenti gratis: <b>Jekyll</b> e <b>Github Pages</b>; il tema <a href="http://jekyllthemes.org/themes/adam-blog-2/">Adam Blog 2</a> di <b>Armando Maynez</b><br>
      <!-- Il form di contatto è di <b>Formspree</b>, soluzione opensource. Il dominio è preso da <b>Google Domains</b>. -->
      </p>

      <h3>grafica</h3>

      <p>
      La grafica è autoprodotta. Il font del logo è un <a>font Google</a> (Source Sans Pro) sviluppato da Paul D. Hunt. La copertina del podcast ha una foto presa da <a>Unsplash</a> (modificata nei colori) di <a href="https://unsplash.com/@jacksloop">Jack Sloop</a>.<br>
      L'avatar di <i>Madebyhumanrace</i> (l'uomo preistorico) viene da <b>Flaticon</b>.<br>
      Le foto, ridotte nelle dimensioni e nella qualità, sono poi convertite in .avif grazie a <b>Magick</b>
      </p>

      <h3>sound design</h3>

      <p>
      Il sound design utilizza risorse di <b>Freesound</b> (vari suoni d'ambiente e strumenti musicali: i sax in apertura e chiusura sono di <a href="https://freesound.org/people/stanrams/">Stanrams</a>.<br>
      Per supportare il podcast ci sono anche canzoni che arrivano da <b>Epidemic Sound</b>. Da Epidemic e da Freesound arrivano anche i tappeti musicali.
      </p>

      <h3>la parte tecnica</h3>

      <p>
      La stagione zero di Fotoradio è stata fatta con un ATR2100 di AudioTechnica preso usato sul marketplace di Amazon. Poi ho trovato Rode Podcaster che mi piace molto e sto usando tuttora.<br>
      Mi piacciono gli aggeggi tecnologici e per il mixer ho preso un Rodecaster Pro che consente di registrare le puntate senza montaggio e a pc spento (perché la compressione ed equalizzazione della voce, le sigle e le basi si controllano in tempo reale dal mixer). Totalmente overkill per il mio piccolo podcast ma molto divertente.<br>
      Il software di registrazione è stato <b>Audacity</b> e ora sto migrando su <b>Reaper</b> che sto studiando sempre grazie ad <a href="https://www.youtube.com/watch?v=hxbxY9-mz_E&t=799s">Andrea Ciraolo e Francesco Bonalume</a>.<br>
      Per l'hosting del podcast dopo un periodo su <b>Spreaker</b> sto passando ad <b>Anchor</b>.
      </p>

      <hr>

      <h2>Privacy</h2>

      <p>
      Sui questo sito nessun dato personale viene raccolto (se non quelli che inserite nel form contatti ma con il solo scopo di rispondere e nient'altro). Sono attivi Google Analytics e le statistiche di Spreaker sul podcast per analizzare i dati di traffico e le informazioni aggregate del caso.
      Come richiesto dalla normativa ho una <a href="https://www.iubenda.com/privacy-policy/23095338">privacy policy</a>.
      </p>

      <hr>

      <h2>Ringraziamenti</h2>

      <p>
      Infine, ci sono ringraziamenti da fare a <b>Andrea Ciraolo</b> che con il suo <a href="https://www.spreaker.com/show/passione-podcast">Passione Podcast</a> ha dato una bella accelerata a questa idea che avevo in testa da tempo. Inoltre Andrea è stato molto disponibile e prodigo di consigli.<br>
      E' invece del tutto inconsapevole del suo contributo <b>Riccardo Palombo</b> con il suo podcast <a href="https://www.spreaker.com/show/il-mordente">Il mordente</a>. Mi è piaciuto molto il suo passaggio da recensore di tecnologia per una grande testata a podcaster intimo e smanettone. E' stato lui a citare <i>Passione Podcast</i> in un episodio de <i>Il Mordente</i> e da lì è partito tutto. Inoltre devo a lui, che ne è sempre inconsapevole, la passione sorta per i siti statici e lo sforzarsi di tenere un basso impatto, anche nei lavori su internet.
      </p>

      <hr>

      <h2 id=roadmap>Roadmap<a hidden class=anchor aria-hidden=true href=#roadmap>#</a></h2>

      <p>
      Quando viene pubblicata ogni puntata?<br>
      Purtroppo non è sempre facile da prevedere perché dipende dal tempo che ci metto a studiare i vari argomenti e da fattori esterni. Qui però c'è una roadmap per i più curiosi.<br>
      Se vuoi lasciare un suggerimento per le prossime puntate, contattami.
      </p>

      {% include roadmap.html %}

      <hr>

      <h2 id=english>English language visitor?<a hidden class=anchor aria-hidden=true href=#english-language-visitor>#</a></h2>

      <p>
      Fotoradio is an italian language podcast in which we talk about photographs.<br>
      In this website we credit owners of pictures that we explore in the show. We refer to the Fair Use as stated in the US Copyright Act. Please check <a href="./fair_use.html">this page</a> for more information.<br>
      If you like to get in touch, please contact me.
      </p>

      <hr>

      <small>Site Version: Fotoradio 2024A</small>

      <hr>

      <h2 id=getintouch>Entra in contatto<a hidden class=anchor aria-hidden=true href=#getintouch>#</a></h2>

      <ul class="contact-list">
      {% if site.twitter %}
        <li class="twitter"><a class="twitter" href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% endif %}
      {% if site.linkedin %}
        <li class="linkedin"><a class="linkedin" href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% endif %}
      {% if site.github %}
        <li class="github"><a class="github" href="https://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% endif %}
      {% if site.email %}
        <li class="email"><a class="email" href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}
      {% if site.bandcamp %}
        <li class="bandcamp"><a class="bandcamp" href="https://{{site.bandcamp}}.bandcamp.com" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.stackoverflow %}
      <li class="stackoverflow"><a class="stackoverflow" href="https://stackoverflow.com/users/{{site.stackoverflow}}" target="_blank">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
      {% endif %}
      </ul>
