---
layout: menu-page
read_time: false
show_date: true
title: Fair Use
date: 2019-01-01 01:00:00 -0600
description: le regole che ci siamo dati sull'uso delle immagini
img: https://alet313.s3.eu-west-3.amazonaws.com/fotoradio/2019/gideon_0b.avif
author: alessandro
permalink: fair_use:output_ext
toc: yes # leave empty or erase for no TOC
---

      <h1>Fair use</h1>

      <p>
      <i>english language visitors, please jump to the <a href="#english-language-visitor">bottom of the page</a></i></p>

      <p>
      Su <b>Fotoradio - Un podcast che parla di fotografie</b> ci si attiene al concetto di "fair use" sviluppato dalla US copyright law, che autorizza l'utilizzo di materiale protetto su base limitata e per specifici utilizzi, senza il permesso del titolare dei diritti rispettando certe condizioni.<br>
      </p>

      <p>
      Le condizioni sono:</p>

      <ol>
              <li><i>Purpose of use</i>: "Nonprofit, educational, scholarly or research use".<br>
      Infatti questo sito non contiene pubblicità e non registra (e quindi non sfrutta) i dati degli utenti che navigano. Inoltre, lo scopo degli articoli è proprio legato al concetto di <i>educational</i> e ricerca.

              <li><i>Nature or type of work</i>: "Published, fact-based content"

              <li><i>Amount used</i>: "Using only the amount needed for a given purpose".<br>
      In questo sito non si pubblicano gallerie di immagini. Si mostrano soltanto le fotografie necessarie ad illustrare il concetto che is vuole esprimere nell'episodio del podcast legato al tema.<br>
      Inoltre, la dimensione massima delle immagini è impostata a 1024px con risoluzione a 72dpi, tale da non rendere possibile una stampa di qualità del materiale.

              <li><i>Market Effect</i>: "there would be no effect, or it is not possible to obtain permission to use the work"
      </ol>

      <p>
        Usate gli strumenti in <a href="#getintouch">fondo alla pagina</a> per entrare in contatto.</p>

      <hr>

      <h2 id=english>English language visitor?<a hidden class=anchor aria-hidden=true href=#english-language-visitor>#</a></h2>

      <p>
      Hello english speaking visitors,<br/>
      Fotoradio is an italian language podcast dedicated to photographs. In this page we explain how we use photographs that we have discussed in the show.
      </p>

      <p>
      Basically, we follow the four principles of the US Fair use I recap here:</p>

      <ol>
              <li><i>Purpose of use</i>: "Nonprofit, educational, scholarly or research use".<br>
      Infact, this website does not host commercials and it's focused on educational and research purposes.

              <li><i>Nature or type of work</i>: "Published, fact-based content"

              <li><i>Amount used</i>: "Using only the amount needed for a given purpose".<br>
      This website only shows pictures that are necessary to explain the concept we talk about in the podcast's episode.<br>
      Moreover, the max dimension of pictures is 1024px at 72 dpi.

              <li><i>Market Effect</i>: "there would be no effect, or it is not possible to obtain permission to use the work"
      </ol>

      <p>
      Shoud you need to get in touch with us, please use the following ways.</p>

      <hr>

      <h2 id=getintouch>Entra in contatto<a hidden class=anchor aria-hidden=true href=#getintouch>#</a></h2>

      <ul class="contact-list">
      {% if site.twitter %}
        <li class="twitter"><a class="twitter" href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% endif %}
      {% if site.linkedin %}
        <li class="linkedin"><a class="linkedin" href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% endif %}
      {% if site.github %}
        <li class="github"><a class="github" href="https://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% endif %}
      {% if site.email %}
        <li class="email"><a class="email" href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}
      {% if site.bandcamp %}
        <li class="bandcamp"><a class="bandcamp" href="https://{{site.bandcamp}}.bandcamp.com" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.stackoverflow %}
      <li class="stackoverflow"><a class="stackoverflow" href="https://stackoverflow.com/users/{{site.stackoverflow}}" target="_blank">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
      {% endif %}
      </ul>
