{% include calculate_relative_base.html %}
{% include escape-404.html %}
<div class="category-cloud">
    {% if include.context == "post" %}
        <ul class="categories {{ include.class }}">
            {% for category in page.categories %}
                <li><a href="{{ relativebase }}category.html?category={{ category | url_encode }}" class="category {{ include.class }}">{{ category }}</a></li>
            {% endfor %}
    {% else %}
        <ul class="categories">
            {% for category in site.categories %}
                {% capture this_category %}{{ category[0] | strip_newlines }}{% endcapture %}
                <li><a href="{{ relativebase }}category.html?category={{ this_category | url_encode }}" class="category">{{ this_category }} <span>({{ category[1].size }})</span></a></li>
            {% endfor %}
    {% endif %}
        </ul>
</div>
