{% include calculate_relative_base.html %}
{% include escape-404.html %}

<footer class="main-footer">
    <div class="footer-wrapper">
        <div class="logo-symbol">
            <a class="logo-link" title="{{ site.title }}" href="{{ relativebase }}">
                <img width="30px" height="30px" id="logo" src="{{ relativebase }}assets/img/branding/fotoradio_ico.svg" alt="Fotoradio"></a>
        </div>
        <div class="copyright">
          <p>2019-{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
        </div>
        <div class="footer-nav">
            <div>
                <a href="{{ relativebase }}archive.html">
                    Puntate
                </a>
            </div>
            <div>
                <a href="{{ relativebase }}tags.html">
                    Fotografi
                </a>
            </div>
            <div>
                <a href="{{ relativebase }}categories.html">
                    Categorie
                </a>
            </div>
            <div>
                <a href="{{ relativebase }}about.html">
                    Chi siamo
                </a>
            </div>
        </div>
    </div>
</footer> <!-- End Footer -->
